/*body styling */
 body {
    font-family : Arial , sans-serif ;
    background-color : #acaca0 ;
    text-align: center;
    margin: 20px;
 }
 /*Heading styling*/
 h1 {
    color :blue;
    margin:20px

     
 }
 /*Product Box styling*/
 .product-box {
    background-color: white ;
    width : 300px;
    margin : 0 auto;  /* Center the box horinzontal*/
    padding :  15px;
    border: 2px solid gray;
    border-radius : 8px
 }
 /*Product Image stylish*/
 .product-box img {
    width: 100%;   /* image takes full  Box width*/
    height: auto;   /* Keep image proportion */
    border-radius : 5px ;    /* slightly*/
}
/*product Title */
.product-box h2 {
    color :black;
    font-size: 20px;
    margin-top: 10px;
}
/*product description*/
.discription 